<span class="catTitle">{{this.name}}</span>
<div class="row">
  <div class="col-sm-2"><span>{{incomeTotal}}</span></div>
  <div class="col-sm-2 expenceTotal"><span>{{expenseTotal}}</span></div>
</div>