<div id="accordion">
  {{#each category}}
    <h3>{{this.name}}</h3>
    {{#each this.subCategories}}
      <div>
        <p>
          text
        {{!-- {{this}} --}}
        </p>
      </div>
    {{/each}}
  {{/each}}
</div>