<div id="accordion">
  {{#each category}}
    <h3>
      {{this.name}}
      <input value="333.00">
    </h3>
      <div>
        <p>
          <ul>
            {{#each this.subCategories}}
              <li>
                <lable>{{this}}</lable>
                <input value = "10.00">

              </li>
            {{/each}}
          </ul>
        </p>
      </div>
  {{/each}}
</div>