<div id="accordion">
  {{#each category}}
    <h3>{{this}}</h3>
    {{#each this.subCategories}}
      <div>
        <p>
          <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
        {{this}}
        </p>
      </div>
    {{/each}}
  {{/each}}